html {
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 0 20px;
  font-family: serif;
}

h1 {
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #ddd;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

button {
  background: crimson;
  color: #f5f5f5;
  border: none;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  font-family: serif;
  font-size: 30px;
  margin: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
  opacity: 1;
  right: 0;
  padding-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
