html {
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 0 20px;
  font-family: serif;
}

h1 {
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #ddd;
  text-transform: uppercase;
}

.nav-button {
  min-width: fit-content;
  background: crimson;
  white-space: nowrap;
  border: none;
  padding: 10px;
  letter-spacing: 1.5px;
  border-radius: 20px;
  font-family: serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  transition: all 1s;
}

img {
  height: 60px;
  width: 60px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home, .authorized {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.groups, .profile, .events {
  width: 100vw;
  height: 100vh;
}

a {
  color:#f5f5f5;
  text-decoration: none;
}

button {
  min-width: fit-content;
  background: crimson;
  white-space: nowrap;
  border: none;
  width: 30%;
  padding: 25px;
  letter-spacing: 1.5px;
  border-radius: 20px;
  font-family: serif;
  font-size: 30px;
  margin: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  transition: all 1s;
}

button:hover {
  cursor: pointer;
  opacity: 1;
  right: 0;
  padding-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

tr {
  line-height: 20px;
  border-bottom: 1.5px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.group-div {
  text-align: left;
  padding: 5px 10px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.group-div h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: crimson;
}

.project-div {
  text-align: left;
  padding: 5px 10px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
}

.project-div:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.group-div a, .project-div a {
  color: black;
  text-decoration: underline;
}