<header>
  <nav>
    <h1>WT1 OAUTH &hearts;</h1>
    <% if(user) { %>
      <div>
        <button><a href="<%=baseURL%>/user/profile">My Profile</a></button><button><a href="<%=baseURL%>/user/events">My Events</a></button><button><a href="<%=baseURL%>/user/groups">My Groups & Projects</a></button><button><a href="<%=baseURL%>/user/logout">Log Out</a></button>
    </div>
    <% } %>
  </nav>
</header>
