<h1>Create snippet</h1>
<form method="post" action="<%=baseURL%>snippets/create">
  <label for="title">Snippet title:</label>
      <input type="text" id="title" name="title" required>
      <label for="body">Code snippet:</label>
      <textarea id="body" name="snippet" required></textarea>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
