<h1>Log in</h1>
<form method="post" action="<%=baseURL%>snippets/login">
  <label for="title">User name:</label>
      <input type="text" id="usernameInput" name="username" required>
      <label for="body">Password:</label>
      <input id="passwordInput" name="password" type="password" required>
  <div>
    <button type="submit">Log in</button>
  </div>
</form>