<div class="home">
  <h1>Use this simplistic app to see some of your Gitlab data</h1>
    <div>
      <button type="submit"><a href="<%=baseURL%>/auth/gitlab">Log in with Gitlab</a></button>
    </div>
</div>