<div class="row" class="container">
  <h1>
    CRUD Snippets
  </h1>
  <p>
    Check out the snippets!
  </p>
  <p>
    <a href="https://rawgit.com/1dv023/syllabus/master/lectures/03/index.html"
      role="button">
      Learn more »
    </a>
  </p>
</div>
<div class="container">
  <div class="row">
    <div>
      <h2>
        CRUD
      </h2>
      <p>
        CREATE || READ || UPDATE || DELETE 
      </p>
    </div>
    <div>
      <h2>
        Flash messages
      </h2>
      <p>
        Keep your user in the loop &hearts;
      </p>
    </div>
  </div>
  <hr />
</div>