<div class="home">
  <h1>WELCOME</h1>
  <form method="post" action="<%=baseURL%>/auth/gitlab"> 
    <div>
      <button class="button-home" type="submit">Log in with Gitlab</button>
    </div>
  </form>
</div>